body{
    font-family: arial, helvetica, sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: rgba(190, 187, 187, 0.61);
    padding: 30px;
    box-shadow: 0 0 15px rgb(10, 10, 10);
    border: 2px solid rgb(150, 13, 230);
}

h1,h2{
    color:rgb(123, 54, 145);
    margin-bottom:10px;
}

.header{
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px rgb(237, 241, 238)

}

.info , .section{
    margin-bottom: 25px;
color: rgb(22, 22, 22);
}

.info p, .section p {
    margin:5px 0;
    color: rgb(8, 8, 8);
}

a{
    color:rgb(107, 19, 148);
    text-decoration: underline;
}

ul{
    padding-left: 20px;
}
